<!DOCTYPE html>
<html>
<head>
	<title> ! !  MyOrder</title>	<!--用户登录后，点击我的订单所跳转的页面，该页面显示当前用户的所有订单-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/order.css"/>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<style>
	.mesing{
		background-color: pink;
		margin-left: 20px;
	}
	.imga{
		height: 200px;
		width: 260px;
		background-color: pink;
	}
</style>
<body>
	<div class="top-bar_sub_w3ls_agileits">
	</div>
	<a href="/index.html"><h2 style="float: right; margin: 60px 100px 0 0 ; color: gray;">主页</h2></a>
	<!--订单部分-->
	<div class="floy">
		<h3>订 单 详 情 </h3>
		<h3><a href="#">已支付</a></h3>
		<h3><a href="#">未支付</a></h3>
	</div>
	
	<!--默认显示已支付的订单   未支付的订单不能评价-->
	<div class="order">
		<div id="order-main">
			<div id="o-detail">
				<h1 class='d-number'>
					<span style="margin-right: 730px;">已支付</span>
					<span>订单号：</span><span>12385643</span>
				</h1>
				<div class='d-goodlist'>
					<div class='g-item' style="height: 220px !important;">
						<div class='itemimg'>
							<img src="/images/efbf701e0c3721e94d44e0ade0db3f33.jpg">
						</div>    
						<div class="mesing">
							
						</div>
						<div class="mesing">
							
						</div>
					</div>
				</div>
			<div id="gopay" >
				<button class="btn btn-danger">评价</button>
			</div>
			</div>
		</div>
	</div>
<!--底部-->
	<footer class="contact-footer">
		<div class="copy">
			<h2 class="footer-logo">
				<a href="#"><span style="color: white;">地址:中国·四川省·成都市太升北路2号</span></a>
			</h2>
			<p>电话:+86-28-86922233   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:+86-28-86948796&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<div class="clearfix"></div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script>
		function str(){
			
		}
		str()
	
	
		$(function(){			
			$(".top-bar_sub_w3ls_agileits").load("public.html");
		})
	</script>
</body>
</html>