<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> ! !  MyOrder</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="/css/order.css"/>
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<style>
	.modal-body{
		padding-left: 80px;
	}
	#textar{
		height: 150px;
		width: 240px;
		font-size: 16px;
	}
	#inp{
		margin-left: 120px;
	}
	.div1{
		height: 180px;
		width: 280px;
		margin-left: 60px;
		border: 1px solid gray;
	}
	.div1 img{
		height: 100%;
		width: 100%;
	}
	.mesing{
		margin-left: 20px;
		padding-left: 40px;
		padding-top: 20px;
	}
	.imga{
		height: 200px;
		width: 260px;
		background-color: pink;
	}
	#span1{
		 margin-right: 620px;
	}
	.mesing span{
		font-size: 16px;
		line-height: 35px;
		color: gray;
	}
	
</style>
<body>
	<div class="top-bar_sub_w3ls_agileits">
	</div>
	<a href="/index.html"><h2 style="float: right; margin: 60px 100px 0 0 ; color: gray;">主页</h2></a>
	<!--订单部分-->
	<div class="floy">
		<h3>订 单 详 情 </h3>
		<h3><a href="#" id="myorder">已支付</a></h3>
		<h3><a href="#" id="noorder">未支付</a></h3>
		<h3><a href="#" id="time">已超时</a></h3>
	</div>
	
	<!--默认显示已支付的订单   未支付的订单不能

-->
<div style="margin-bottom: 550px" >

	<div class="order" th:each="order,iterStat : ${bean.list}">
		<div id="order-main" >
			<div id="o-detail">
				<h1 class='d-number'>
					<span id="span1" th:if="${order.subscribeStatus==null}" th:text="待支付"></span>
					<span id="span1" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==8}" th:text="已入住"></span>
					<span id="span1" th:if="${order.status!=null&&order.status.id==7}" th:text="已超时"></span>
					<span id="span1" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==9}" th:text="已预约"></span>
					<span id="span1" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==13}" th:text="已退款" ></span>
					
			
					<span>订单号：</span>
					<span th:text="${order.orderNumber}">12385643</span>
				</h1>
				<div class='d-goodlist'>
					<div class='g-item' style="height: 220px !important;">
						<div class='itemimg'>
							<img src="/images/efbf701e0c3721e94d44e0ade0db3f33.jpg" th:src="@{'/images/'+${order.lives[0].room.type.img}}" >
						</div>    
						<div class="mesing">
							<span>房间类型 ：</span><span th:text="${order.lives[0].room.type.name}"></span>
							<br>
							<span>房间号 ：</span><span th:text="${order.lives[0].room.name}"></span>
							<br>
							<span>房间位置 ：</span><span th:text="${order.lives[0].room.type.area}"></span>
							<br>
							<span>房间面积 ：</span><span th:text="${order.lives[0].room.area}"></span>
							<br>
							<span>支付价格 ：</span><span th:text="${order.price}"></span>
							
						</div>
						<div class="mesing">
							<span>下单人 ：</span><span th:text="${order.lives[0].people}"></span>
							<br>
							<span>联系电话 ：</span><span th:text="${order.lives[0].phoneNumber}"></span>
							<br>
							<span>入住时间 ：</span><span th:text="${order.lives[0].inTime}"></span>
							<br>
							<span>离店时间 ：</span><span th:text="${order.lives[0].outTime}"></span>
							<br>
							<span>下单时间 ：</span><span th:text="${order.orderTime}"></span>
							
						</div>
					</div>
				</div>
			<div id="gopay" >
			 <button id="pay"  class="btn btn-danger" th:if="${order.subscribeStatus==null}" th:text="支付" ></button>
			 <button id="pingjia" data-toggle="modal" data-target="#myModal01" class="btn btn-danger" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==8}" th:text="评价" ></button>

			 <button  class="btn btn-danger" th:if="${order.status!=null&&order.status.id==7}" th:text="超时" ></button>
			<button  class="btn btn-danger" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==13}" th:text="已退款" ></button>
			 <button id="goback" th:value="${order.id}" onclick="find(this)" class="btn btn-danger" th:if="${order.subscribeStatus!=null&&order.subscribeStatus.id==9}" th:text="退款" ></button>
<!-- 			  <input id="zh" style="display:none" type="text" name="email" th:value="${order.id}"/> -->
			  <!-- <button  class="btn btn-danger" th:if="${order.delStatus!=null&&order.delSstatus.id==10}" th:text="删除" ></button>
			 -->
			 </div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<h4 class="modal-title" id="myModalLabel">评 价</h4>
	      		</div>
	      		<div class="modal-body">
	      			<form action='/add' method='post' enctype='multipart/form-data'>
	      			<div id='md_right'><div class='div1'></div>
	      			<br/><input type='file' name='imageName' id='inp' accept='image/*'>
	      			<label for='img_input'></label></div></br>
	      			<span>评论内容 ： &nbsp;</span>
	      			<input type='textarea' class='test' name='mess' id='textar'><br>
	      			<div class='modal-footer'>
	      			<button type='submit' class='btn btn-primary' id='getup'>提交</button>
	      			<button type='button' class='btn btn-default' data-dismiss='modal'>取消</button></div></form>
	    		</div>
			</div>
		</div>
	</div>
							                	
	</div>
<!--底部-->
	<footer class="contact-footer">
		<div class="copy">
			<h2 class="footer-logo">
				<a href="#"><span style="color: white;">地址:中国·四川省·成都市太升北路2号</span></a>
			</h2>
			<p>电话:+86-28-86922233   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:+86-28-86948796&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<div class="clearfix"></div>
		</div>
	</footer>
	
	<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script>
// 	  var oid;
// 	  function tui(){
// 		  oid=$("#zh").val();
// 		  alert(oid);
// 	  }
        //退款
         function find(obj){
         	var oid = $(obj).val();
         	 window.location.href="/refund/"+oid; 
         }
		$("#myorder").click(function(){
			location.href="/order/state/6"
		})
		$("#noorder").click(function(){	
			location.href="/order/state/5";	
		})
		$("#time").click(function(){
			location.href="/order/state/7"
		})
		
		$("#pay").click(function(){
			alert("跳转到支付页面 ")
		})
		
// 		$("#goback").click(function(){
// 			window.location.href="/refund/"+oid;
// 		})
		
		$("#inp").on("change", function(e) {
			var file = e.target.files[0]; //获取图片资源
		  	if (!file.type.match('image.*')) {
		    return false;
		  }
		
		  var reader = new FileReader();
		  reader.readAsDataURL(file); // 读取文件
		  // 渲染文件
		  reader.onload = function(arg) {
			    var img = '<img class="preview" src="' + arg.target.result + '" alt="preview" />';
		    $(".div1").empty().append(img);
		  }
		});
			
		
		$(function(){			
			$(".top-bar_sub_w3ls_agileits").load("/public.html");
		})
	</script>
</body>
</html>