<!DOCTYPE html>
<html>
<head>
	<title> ! !  Order</title>	<!--用户登陆后，点击预定所跳转的页面，显示用户需要填写的预订信息-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<style>
	.imgagess{
		width: 280px;
		height: 170px;
		margin-top: -20px;
		margin-bottom: 40px;
	}
	.imgagess img {
		width: 100%;
		height: 100%;
	}
	.order{
		height: 650px;
		width: 1300px;
		margin: 50px auto;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
		padding-top: 50px;
	}
	.order h3{
		color: darkgrey;
		margin-bottom: 70px;
	}
	.order .form-group .col-sm-10 input{
		width: 260px;
	}
	.one {
		width: 500px;
		height: 100%;
		float: left;
		padding-left: 200px;
	}
	.tow {
		width: 600px;
		height: 100%;
		float: right;
	}
	#btn{
		margin: 20px 0 0 230px;
	}
	.one h4{
		margin-bottom: 26px;
		color: #218DB5;
	}
	.one h4 span{
		color: gray;
	}
</style>
<body>
	<div class="top-bar_sub_w3ls_agileits">
	</div>
	<!--订单部分-->
	<a href="/index.html"><h2 style=" margin: 50px 0 0 100px ; color: gray;">主页</h2></a>
	<div class="order">
		<div class="one">
			<h3 style="margin-left: -50px;" th:text = "${roomBean.type.name}">豪华双床房</h3>
			<div class="imgagess">
				<img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg" th:src="/images/"+"@{roomBean.img}" />
			</div>
			<h4><span>房间号：</span><span th:text = "${roomBean.name}">201</span></h4>
			<h4><span>应付金额：</span><span th:text = "${roomBean.price}" id="price">￥299</span></h4>
			<h4><span>房间位置：</span><span th:text = "${roomBean.location}" >酒店六楼</span></h4>
		</div>
		<div class="tow">
			<h3>入住信息</h3>
		<form class="form-horizontal" role="form" >
		 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		 <span style="font-size: 12px;color: red;display: none;" id="span0">请输入完整入住信息！</span>
  			<div class="form-group">
  			
		    	<label class="col-sm-2 control-label" >入住时间 </label>
			    <div class="col-sm-10">
			      <input type="date" class="form-control" id = "inTime" >
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label" >退房时间 </label>
			    <div class="col-sm-10">
			     <input type="date" class="form-control" id = "outTime">
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label" >入 住 人</label>
			    <div class="col-sm-10">
			     <input type="text" class="form-control" id= "people">
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label" >联系方式 </label>
			    <div class="col-sm-10">
			     <input type="text" class="form-control" id = "phoneNumber" style="Float:left;">
			     <span style="font-size: 12px;color: red;display: none;Float:left;height: 14px;" id="span-phone">手机号不合法！</span>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">联系邮箱</label>
			    <div class="col-sm-10">
			     <input type="text" class="form-control" id="email" style="Float:left;">
			     <span style="font-size: 12px;color: red;display: none;Float:left" id="span-email">邮箱不合法！</span>
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">到店时间</label>
			    <div class="col-sm-10">
			     <input type="time" class="form-control" >
			    </div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label"> 备 注 </label>
			    <div class="col-sm-10">
			     <input type="text" class="form-control" >
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			<!--点击跳转支付宝支付页面-->
			        <a href="#">
			        	<button type="button" class="btn btn-info" id="btn" onclick="getInfo()">结算</button>
			        </a>
			    </div>
		  	</div>
		</form>
		</div>
	</div>
<!--底部-->
	<footer class="contact-footer">
		<div class="copy">
			<h2 class="footer-logo">
				<a href="#"><span style="color: white;">地址:中国·四川省·成都市太升北路2号</span></a>
			</h2>
			<p>电话:+86-28-86922233   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:+86-28-86948796&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<div class="clearfix"></div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	
	var rid = 0
	<script th:inline="javascript">
	rid = /*[[${roomBean.id}]]*/;
	</script>
	
	<script type="text/javascript">
		$(function(){
			$(".top-bar_sub_w3ls_agileits").load("/public.html");
		})
		//获取订单信息
		function getInfo(){
			var price = $("#price").text()
			var people = $("#people").val()
			var inTime = $("#inTime").val()
			var outTime = $("#outTime").val()
			var phoneNumber = $("#phoneNumber").val()
			if (inTime==""||people==""||outTime==""||phoneNumber=="") {
					$("#span0").css("display","inline")
			}else {
				$.ajax({
					url:"/order",
					type:"post",
					data:"price="+price+"&lives[0].roomid="+rid+"&lives[0].people="+people+"&lives[0].inTime="+inTime+
					"&lives[0].outTime="+outTime+"&lives[0].phoneNumber="+phoneNumber+
					"&status.id=5&subscribeStatus.id=9&delState=10",
					success:function(mes){
						window.location.href="/order/"+mes;
						}
					})
			}
		}
		$("#inTime,#outTime,#price").blur(function () {
			$("#span0").css("display","none")
		})
		////验证手机是否合法
		$("#phoneNumber").blur(function () {
		    phone = this.value;
		    RegCellPhone = /^(1)([0-9]{10})?$/;
		    falg=phone.search(RegCellPhone);
		    if (falg==-1){
		    	$("#span-phone").css("display","inline")
		    	
		    }
		});
		$("#phoneNumber").focus(function () {
		    $("#span-phone").css("display","none")
		  });
		//验证邮箱是否合法
		$("#email").blur(function (){
			strEmail = this.value;
		    var flag = strEmail.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/);
		    if (flag == -1){
		    	$("#span-email").css("display","inline")
		    }
		})
		$("#email").focus(function () {
		    $("#span-email").css("display","none")
		  });
	</script>
			
	
</body>
</html>