<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"><!--头部公共页面-->
		<title></title>
		<script src="js/jquery-2.2.3.min.js"></script>
	</head>
	<body>
		<h6>
			<i class="fa fa-phone" aria-hidden="true"></i> 订房热线 : 00950804988436
		</h6>
		<div class="search">
			<h5>
				<a class="sign" href="#" data-toggle="modal" data-target="#myModal2"> 登 录 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="sign" href="#" data-toggle="modal" data-target="#myModal3"> 注 册 </a>
			</h5>
		</div>
		<div class="clearfix"> </div>
		
		<!-- Modal12    账户密码登录界面   小弹窗  -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="signin-form profile">
						<div class="login-m_page_img">
							<img src="images/model.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="login-m_page">
							<h3 class="sign">使用账号密码登录 </h3>
							<div class="login-form">
					<!--登录界面form表单-->
								<form action="#" method="post">
									<input type="text" name="name" placeholder="请输入用户名" style="margin-top: 70px;">
									<input type="password" name="password" placeholder="请输入密码" required="" style="margin: 20px 0 20px 0;">
									<div class="tp">
										<input type="submit" value="登 录">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul><li></li><li></li><li></li></ul>
							</div>
							<a href="#" data-toggle="modal" data-target="#myModal4">使用手机号登录</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal14    手机号登录界面   小弹窗  -->
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="signin-form profile">
						<div class="login-m_page_img">
							<img src="images/model.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="login-m_page">
							<h3 class="sign">使用手机号登录 </h3>
							<div class="login-form">
					<!--登录界面form表单-->
								<form action="#" method="post">
									<input type="text" name="name" placeholder="请输入用户名" style="margin-top: 70px;">
									<input type="text" name="" placeholder="请输入短信验证码" required="" style="margin: 20px 0 20px 0;">
									<div class="tp">
										<input type="submit" value="登 录">
									</div>
								</form>
							</div>
							<div class="login-social-grids">
								<ul><li></li><li></li><li></li></ul>
							</div>
							
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- Modal2   注册界面小弹窗-->
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header_w3layouts_agile">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="signin-form profile">
						<div class="login-m_page_img">
							<img src="images/model.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="login-m_page">
							<h3 class="sign"> 注 册 </h3>
							<div class="login-form">
						<!--注册界面from表单-->
								<form action="#" method="post">
									<input type="text" name="name" placeholder="请输入用户名" style="margin: 30px 0 20px;">
									<input type="password" name="password" placeholder="设置您的密码"  style="margin: 20px 0 20px 0;">
									<input type="text" name="" placeholder="请输入手机号" id="" style="width: 200px!important;">
									<button type="button" class="btn btn-warning" style="margin: -80px 0 0 200px;">获取验证码</button>
									<input type="text" name="" placeholder="输入验证码" id="">
									<input type="submit" value="注 册">
								</form>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	</body>
</html>
