<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title> ! !  Room</title><!--点击房间类型的时候，显示该房间类型的所有房间  以及房间的详细信息，及该房间当日是否为可入住状态-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/css/contact.css" rel='stylesheet' type='text/css' />
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Mallanna" rel="stylesheet">
</head>
<style>
	.imgagess{
		width: 280px;
		height: 170px;
		margin-top: -20px;
		margin-bottom: 40px;
	}
	.imgagess img {
		width: 100%;
		height: 100%;
	}
	.icon_info button{
		margin: 40px 20px -10px 20px;
	}
	
</style>
<body>
	<div class="top-bar_sub_w3ls_agileits">
		
	</div>
	<h2 style="color: gray; margin: 50px 0 0 100px;">豪华双床房</h2>
	<a href="/index.html"><h2 style="float: right; margin: -30px 100px 0 0 ; color: gray;">主页</h2></a>
	<div class="container">
		<div class="inner_sec_w3_agileinfo">
			<div class="col-md-4 grid_info_main" data-aos="zoom-in">
				<div class="grid_info">
					<div class="icon_info">
						<div class="imgagess">
					 <img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg" th:src="@{'/images/'+${page.list[0].img}}"/>   
						</div>
						<p th:text="'房间号：'+(${page.list[0].name})">房间号：201</p>
					 <p th:text="'房间位置：'+(${page.list[0].area})">房间位置： 酒店六楼</p>
						<p th:text="${page.list[0].message}">房间详细信息描述</p>
						<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[0].price}):'会员价：￥'+(${page.list[0].price}-50)">会员价：￥269</button>
			<!--如果当日的房间状态为已入住，则显示为今日已满   a链接也改为不可点击状态-->
			<!--如果当日的房间状态为已入住，则显示为今日已满   a链接也改为不可点击状态-->
			<!--如果当日的房间状态为已入住，则显示为今日已满   a链接也改为不可点击状态-->
		
						<a href="##" th:if="${page.list[0].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[0].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[0].status.id}==3" th:href="@{'/room/'+${page.list[0].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[0].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
				<div class="grid_info second">
					<div class="icon_info">
						<div class="imgagess">
							<img  src="#" th:src="@{'/images/'+${page.list[1].img}}"/>
						</div>
						<p th:text="'房间号：'+(${page.list[1].name})">房间号：201</p>
						<p  th:text="'房间位置：'+(${page.list[1].area})">房间位置：酒店六楼</p>
						<p th:text="${page.list[1].message}">房间详细信息描述</p>
						<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[1].price}):'会员价：￥'+(${page.list[1].price}-50)">会员价：￥269</button>
						<a href="##" th:if="${page.list[1].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[1].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[1].status.id}==3" th:href="@{'/room/'+${page.list[1].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[1].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 grid_info_main" data-aos="zoom-in">
				<div class="grid_info">
					<div class="icon_info">
						<div class="imgagess">
							<img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg" th:src="@{'/images/'+${page.list[2].img}}"/>
						</div>
						<p th:text="'房间号：'+(${page.list[2].name})">房间号：201</p>
					
						<p th:text="'房间位置：'+(${page.list[2].area})">房间位置：酒店六楼</p>
						<p th:text="${page.list[2].message}">房间详细信息描述</p>
						<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[2].price}):'会员价：￥'+(${page.list[2].price}-50)">会员价：￥269</button>
					<a href="##" th:if="${page.list[2].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[2].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[2].status.id}==3" th:href="@{'/room/'+${page.list[2].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[2].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
				<div class="grid_info second">
					<div class="icon_info">
						<div class="imgagess">
							<img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg" th:src="@{'/images/'+${page.list[3].img}}"/>
						</div>
						<p th:text="'房间号：'+(${page.list[3].name})">房间号：201</p>
						<p th:text="'房间位置：'+(${page.list[3].area})">房间位置：酒店六楼</p>
						<p th:text="${page.list[3].message}">房间详细信息描述</p>
				<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[3].price}):'会员价：￥'+(${page.list[3].price}-50)">会员价：￥269</button>
						<a href="##" th:if="${page.list[3].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[3].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[3].status.id}==3" th:href="@{'/room/'+${page.list[3].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[3].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 grid_info_main" data-aos="zoom-in">
				<div class="grid_info">
					<div class="icon_info">
						<div class="imgagess">
							<img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg"  th:src="@{'/images/'+${page.list[4].img}}"/>
						</div>
						<p th:text="'房间号：'+(${page.list[4].name})">房间号：201</p>
						<p th:text="'房间位置：'+(${page.list[4].area})">房间位置：酒店六楼</p>
						<p th:text="${page.list[4].message}">房间详细信息描述</p>
					<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[4].price}):'会员价：￥'+(${page.list[4].price}-50)">会员价：￥269</button>
						<a href="##" th:if="${page.list[4].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[4].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[4].status.id}==3" th:href="@{'/room/'+${page.list[4].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[4].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
				<div class="grid_info second">
					<div class="icon_info">
						<div class="imgagess">
							<img src="/images/60fd8c59bffb880984b759cc3c8450fb.jpg"  th:src="@{'/images/'+${page.list[5].img}}"/>
						</div>
						<p th:text="'房间号：'+(${page.list[5].name})">房间号：201</p>
					
						<p th:text="'房间位置：'+(${page.list[5].area})">房间位置：酒店六楼</p>
						<p th:text="${page.list[5].message}">房间详细信息描述</p>
						<button type="button" class="btn btn-info" th:text="${dl}==0?'标准价：￥'+(${page.list[5].price}):'会员价：￥'+(${page.list[5].price}-50)">会员价：￥269</button>
						<a href="##" th:if="${page.list[5].status.id}==4" th:href="@{#}">
							<button type="button" class="btn btn-warning" th:text="${page.list[5].status.id}==3?立即预定:今日已满" style="background-color:gray">立即预定</button>
						</a>
						<a href="##" th:if="${page.list[5].status.id}==3" th:href="@{'/room/'+${page.list[5].id}}">
							<button type="button" class="btn btn-warning" th:text="${page.list[5].status.id}==3?立即预定:今日已满">立即预定</button>
						</a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	
<!--底部-->
	<footer class="contact-footer">
		<div class="copy">
			<h2 class="footer-logo">
				<a href="#"><span style="color: white;">地址:中国·四川省·成都市太升北路2号</span></a>
			</h2>
			<p>电话:+86-28-86922233   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传真:+86-28-86948796&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			<div class="clearfix"></div>
		</div>
	</footer>
	<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}
		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
		}
	</script>
	<script type="text/javascript" src="/js/jquery-2.2.3.min.js"></script>

	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<link href='/css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<link href='/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
	<script src='/js/aos.js'></script>
	<script src="/js/aosindex.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<script src="js/main.js"></script>
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script>
			
			$(function(){
				
				$(".top-bar_sub_w3ls_agileits").load("/public.html");
			})
	</script>
</body>
</html>