<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IOrderDao">
<!-- 	添加订单 (除支付号、押金)-->
	<insert id="insertOrder" parameterType="OrderBean">
		insert into orders(orderTime,orderNumber,status,price,memberId,subscribeStatus,delState)
		values(#{orderTime},#{orderNumber},#{status.id},#{price},#{member.id},#{subscribeStatus.id},#{delState})
	</insert>
<!-- 	通过状态分页查询订单 -->
	<select id="selectOrderByState" parameterType="int" resultMap="map">
		select * from orders
		<where>
		status = #{status} and memberId = #{mid}
		limit #{page},#{size}	
		</where>
		
	</select>
<!-- 	通过入住信息查询订单 -->
	<select id="selectOrderByAttr" parameterType="LiveBean" resultMap="map">
		select * from orders where id = #{orderid} 
	</select>
<!-- 	修改订单属性 -->
	<update id="updateOrderAttr" parameterType="OrderBean">
		update orders
		<set>
			<if test="alipayNumber!=null">
				alipayNumber = #{alipayNumber}
			</if>
			<if test="payMoney!=0.0">
				payMoney = #{payMoney}
			</if>
			<if test="subscribeStatus!=null">
				subscribeStatus = #{subscribeStatus.id}
			</if>
			<if test="delState!=0">
				delState = #{delState}
			</if>
			<if test="status!=null">
				status= #{status.id} 
			</if>
		</set>
		where id = #{id}
	</update>
<!-- 	查询数量 -->
	<select id="selectNumberByState" resultType="int">
		select count(*) from orders where status = #{status}
	</select>
<!-- 	通过订单号查询订单id -->
	<select id="selectNumberByOrderNumber" resultType="int">
		select id from orders where orderNumber = #{orderNumber}
	</select>
	
	<resultMap id="map" type="OrderBean">
		<id property="id" column="id"></id>
		<result property="orderTime" column="orderTime"></result>
		<result property="orderNumber" column="orderNumber"></result>
		<result property="alipayNumber" column="alipayNumber"></result>
		<result property="price" column="price"></result>
		<result property="payMoney" column="payMoney"></result>
		<association property="member" javaType="MemberBean" select="com.project.dao.IMemberDao.selectById" column="memberId"/>
		<association property="status" javaType="MarkBean" select="com.project.dao.IMarkDao.selectmarkbyid" column="status"/>
	    <association property="subscribeStatus" javaType="MarkBean" select="com.project.dao.IMarkDao.selectmarkbyid" column="subscribeStatus"/> 
<!-- 		<association property="comment" javaType="CommentBean" select="com.project.dao.ICommentDao.selectCommentByOid" column="id"/> -->
		<collection  property="lives" ofType="LiveBean" select="com.project.dao.ILiveDao.findByorderid" column="id"/>
	</resultMap>
	
</mapper>