<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IOrderDao">
<!-- 	添加订单 (除支付号、押金)-->
	<insert id="insertOrder" parameterType="OrderBean">
		insert into orders(orderTime,orderNumber,status,price,memberId,subscribeStatus,delState)
		values(#{orderTime},#{orderNumber},#{status.id},#{price},#{member.id},#{subscribeStatus.id},#{delState})
	</insert>
<!-- 	通过支付状态分页查询订单 -->
	<select id="selectOrderByState" parameterType="int" resultMap="map">
		select * from orders where status = #{status} and memberId = #{mid} and delState = 10
		limit #{page},#{size}	
	</select>
<!-- 	通过预约状态分页查询订单 -->
	<select id="selectOrderBySubStatus" parameterType="int" resultMap="map">
		select * from orders where  subscribeStatus = #{subscribeStatus} limit #{page},#{size}	
	</select>
	
<!-- 	通过入住信息查询订单 -->
	<select id="selectOrderByAttr" parameterType="LiveBean" resultMap="map">
		select * from orders where id = #{orderid} 
	</select>
<!-- 	修改订单属性 -->
	<update id="updateOrderAttr" parameterType="OrderBean">
		update orders
		<set>
			<if test="alipayNumber!=null">
				alipayNumber = #{alipayNumber}
			</if>
			<if test="payMoney!=0.0">
				payMoney = #{payMoney}
			</if>
			<if test="price!=0.0">
				price = #{price}
			</if>
			<if test="subscribeStatus!=null">
				subscribeStatus = #{subscribeStatus.id}
			</if>
			<if test="delState!=0">
				delState = #{delState}
			</if>
			<if test="status!=null">
				status= #{status.id} 
			</if>
		</set>
		where id = #{id}
	</update>
<!-- 	查询支付数量 -->
	<select id="selectNumberByState" resultType="int">
		select count(*) from orders where status = #{status}
	</select>
<!-- 	查询预定数量 -->
	<select id="selectNumberBySubStatus" resultType="int">
		select count(*) from orders where subscribeStatus = #{subscribeStatus}
	</select>
<!-- 	查询时间段内的数量 -->
	<select id="selectNumberByTime" resultType="int">
		select count(*) from orders where orderTime  between #{startTime} and #{endTime}
	</select>
<!-- 	通过订单号查询订单 -->
	<select id="selectOrderByOrderNumber"  resultMap="map">
		select * from orders where orderNumber = #{orderNumber}
	</select>
<!-- 	通过订单id查询订单 -->
	<select id="selectOrderById" parameterType="int" resultMap="map">
		select * from orders where id = #{oid} 
	</select>
<!-- 	通过订单时间查询订单 -->
	<select id="selectOrderByTime" resultMap="map">
		select * from orders where orderTime  between #{startTime} and #{endTime} and subscribeStatus = #{subscribeStatus} limit #{page},#{size}	
	</select>
	<resultMap id="map" type="OrderBean">
		<id property="id" column="id"></id>
		<result property="orderTime" column="orderTime"></result>
		<result property="orderNumber" column="orderNumber"></result>
		<result property="alipayNumber" column="alipayNumber"></result>
		<result property="price" column="price"></result>
		<result property="payMoney" column="payMoney"></result>
		<association property="member" javaType="MemberBean" select="com.project.dao.IMemberDao.selectById" column="memberId"/>
		<association property="status" javaType="MarkBean" select="com.project.dao.IMarkDao.selectmarkbyid" column="status"/>
	    <association property="subscribeStatus" javaType="MarkBean" select="com.project.dao.IMarkDao.selectmarkbyid" column="subscribeStatus"/> 
<!-- 		<collection property="dislist" ofType="DiscountBean" select="com.project.dao.IDiscountDao.selectDiscountById" column="did"/>  -->
		<collection  property="lives" ofType="LiveBean" select="com.project.dao.ILiveDao.findByorderid" column="id"/>
	</resultMap>

	
</mapper>