html{
	height: 100%;
}
body{
	margin:0;
	padding:0;
	padding-top:100px ;
	font-family: '寰蒋闆呴粦','榛戜綋',serif;
	height:100%;
	box-sizing: border-box;
	
}
span{
	background-repeat: nrepeat;
}
a{
	text-decoration: none;
}

a:link,a:visited{
	color:black;
}
a:hover{
	color:cornflowerblue;
	text-decoration: underline;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}

.inline-block{
	display: inline-block;
}


/* 澶撮儴 */
#header{	
	width: 100%;
	position: fixed;
	height: 60px;
	background-color: blue;
	top:0px;
	background-color: #f8f8f8;
	box-shadow: 0 0 5px #333;
}
/* 琛ㄧずid涓篽eader鐨凥TML鏍囩鐨勬墍鏈夌洿鎺ュ瓙鍏冪礌锛坉iv锛� */
#header > div{
	float: left;
	line-height: 60px;
	
}
#header #logo{
	margin-left: 30px;
	font-size: 24px;
	font-weight: bold;
	
}
#header #logo a{
	color: #666;
}
#header #userzoom{
	float: right;
	margin-right: 30px;
}
#header #userzoom a{
	font-size: 16px;
	margin-left: 15px;
	padding-left:25px;
	
}

/* 鐗堟潈淇℃伅 */
#footer{
	height: 50px;
	background-color:#F8F8F8;
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color:#999;
	box-shadow:  0 0 5px #333;
	bottom: 0px;
	position:fixed;
	
}


/* 鐧诲綍 鍜屾敞鍐� */
#login,#register{
	width: 400px;
	height: 350px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #000;
	padding:10px;
	box-sizing: border-box;
	border-radius: 6px;
	position: fixed;
	top:20px;
	left: 50%;
	margin-left: -200px;	
	background-color: #fff;
	display: none;
}
.login-title,.register-title{
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.login-form,.register-form{
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

/* 娉ㄥ唽妗� */
#register{
	height: 450px;
}




.form-group{
	padding:12px 5px;
	margin:10px 0px;
	
}
.f-input{
	padding:10px 15px;
	font-size: 16px;
	border-radius: 0 4px 4px 0;
	border: 1px solid #ccc;
	outline: none;
	height: 40px;
	box-sizing: border-box;
	margin-top:-1px;
	margin-left: 60px;
	width: 300px;
	transition: all 0.5s;
}
.f-input:focus{
	border: 1px solid #1E90FF;
	box-shadow: 0 0 5px #1E90FF;
}
.l-btn{
	margin-top:20px;
	text-align: right;
	
}
.l-btn button{
	font-size: 16px;
	width: 100px;
}

/* 鍏抽棴 */
.close{
	height: 50px;
	line-height: 50px;
	width: 25px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding-right: 10px;
}
.close img{
	vertical-align: middle;
}
.close img:hover{
	cursor: pointer;
}
/* end */


/* 閭瘎鍦板潃鍒楄〃 */
.title{
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	padding:5px 10px;
	
	
}
.a-list{
	overflow: auto;
	max-height: 300px;
}
.a-item{
	padding:5px 10px;
	box-sizing: border-box;
	border-bottom:1px solid #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.5s;
	position: relative;
}
.a-item:hover{
	background-color: #f1f1f1;
}

.a-item .i-info{
	height: 30px;
	font-size: 16px;
	
}
.a-item .i-s-title{
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	margin-right: 20px;
	
}
.a-item .i-address{
	font-size: 14px;
	color: #666666;
}
.add{
	padding:5px 30px;
	background-position: 10px 8px;
}






/* 閫氱敤鎸夐挳璁剧疆 */
.btn{
	display: inline-block;
	padding:6px 12px;
	text-align: center;
	color: white;
	line-height: 1.42857143;/* 琛岄珮涓烘暟瀛楀拰瀛椾綋灏哄鐩镐箻鐨勬暟鍊� */
	margin:0;
	border-radius: 4px;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;/* 鏂囧瓧涓嶆崲琛� */
	border: none;
	outline: none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:active{
	top:1px;
	position:relative;
}
/* 涓�鑸寜閽� */
.btn-info{
	background-color: dodgerblue;
	font-size: 14px;
}
/* 瀛椾綋鍙樺ぇ*/
.btn-lg{
	font-size: 26px;
}
/* 绾㈣壊鎸夐挳 */
.btn-danger{
	background-color: darkred;
}
/* ends */


/* 閬箷 */

#page-black{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.6);
	position: fixed;
	top:0;
	left: 0;
	z-index:2;
	display: none;
}
.outer-black{
	z-index: 99;
}



/* icon 璁剧疆  */
.icon{
	background-repeat: no-repeat;
	background-position: left center;
}
.i-user{
	background-image: url(../icon/鐧诲綍.png);
}
.i-register{
	background-image: url(../icon/娉ㄥ唽.png);
}
.i-loginout{
	background-image: url(../icon/娉ㄩ攢.png);
}
.i-order{
	background-image: url(../icon/璁㈠崟.png);
}
.i-shopcar{
	background-image: url(../icon/璐墿杞︾┖.png);
}
.i-userinfo{
	background-image: url(../icon/鐢ㄦ埛.png);
}
.i-password{
	background-image: url(../icon/瀵嗙爜.png);
}
.i-add{
	background-image: url(../icon/add-small.png);
}

/* 
 span 涓�鑸牱寮�
 
 */

.s-money{
	color:darkred;
	font-weight: bold;
}
/* 閽堝form */
.f-span{
	display: inline-block;
	width: 60px;
	height: 38px;
	background-color: #CCCCCC;
	background-position: center center;
	border:1px solid #ccc;
	border-radius: 4px 0 0 4px;
	
}

/* 瀛椾綋 */
.f-white{
	color:white!important;
}

/**
 * 鐐瑰嚮鑳屾櫙棰滆壊瀛椾綋棰滆壊杞崲
 */
.active{
	background-color: #1E90FF!important;
	color: white;
}